{:deps    {org.clojure/data.csv      {:mvn/version "1.0.0"}
           com.clojournal/clojournal {:mvn/version "0.1.0-alpha3"}}
 :paths   ["src"]
 :aliases {:test      {:extra-deps  {org.clojure/clojure {:mvn/version "1.10.1"}
                                     lambdaisland/kaocha {:mvn/version "1.0.732"}}
                       :extra-paths ["test"]}
           :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
                       :main-opts  ["-m" "clj-kondo.main"]}}}
